<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owners Index Page</title>
</head>
<body>
    <h1 th:text="'List of owners'">List</h1>
    <table>
        <thead>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </thead>
        <tbody>
            <tr th:each="owner: ${owners}">
                <th th:text="${owner.id}"></th>
                <th th:text="${owner.firstName}"></th>
                <th th:text="${owner.lastName}"></th>
            </tr>
        </tbody>
    </table>
</body>
</html>